@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

* {
  font-family: "Fira Code", monospace;
  font-weight: bold;
  cursor: url("cursor.png"), auto;
  margin: 6px;
  outline: none;
}

body {
  background-color: #bdbebf;
  color: #3f3f40;
}

input,
select {
  background-color: #d9d9d9;
  border: none;
  padding: 6px;
}

fieldset {
  border-color: #3f3f40;
  width: 300px;
}

#btn {
  border: 2px solid #3f3f40;
  padding: 10px;
  width: 90px;
}

#btn:hover {
  background-color: #3f3f40;
  color: #d9d9d9;
  cursor: pointer;
  transition: all 0.2s;
}

#res {
  margin: 0;
}

mark {
  background-color: #ffff00;
}
